/*Typeface */
@font-face {
    font-family: 'pp_telegrafregular_oblique';
    src: url('../fonts/pptelegraf-regularoblique-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-regularoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultralight';
    src: url('../fonts/pptelegraf-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultrabold';
    src: url('../fonts/pptelegraf-ultrabold-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultrabold_slanted';
    src: url('../fonts/pptelegraf-ultraboldslanted-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultraboldslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultralight_oblique';
    src: url('../fonts/pptelegraf-ultralightoblique-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultralightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafregular_slanted';
    src: url('../fonts/pptelegraf-regularslanted-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-regularslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafregular';
    src: url('../fonts/pptelegraf-regular-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultralight_slanted';
    src: url('../fonts/pptelegraf-ultralightslanted-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultralightslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultrabold_oblique';
    src: url('../fonts/pptelegraf-ultraboldoblique-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultraboldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultralight';
    src: url('../fonts/pptelegraf-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_telegrafultralight_oblique';
    src: url('../fonts/pptelegraf-ultralightoblique-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultralightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*Typeface */body { padding: 2em; }

a { color: #FD6320; }

.channel-title {font-family: pp_telegrafultrabold_oblique;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	top: 0%;
   }

.channel-description {font-family: pp_telegrafultralight;
	font-style: normal;
	font-size: 100px;
	max-width: 1000px;
	position: absolute;
	top: 35%;}

.image-block .title{color: #FD6320;}

img {
	width: 30%;
	height: 50%;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }

.video-embed-block .image{
	width: 30%;
	height: 50%;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }


  * {
	box-sizing: border-box;
  }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  font-family: pp_telegrafultralight;
}

   /*Clock */
   .clock {
    position: absolute;
    top: 0%;
    left: 33%;
    transform: translateX(20%) translateY(20%);
    font-size: 30px;
	color: #FD6320;
    font-family: pp_telegrafultrabold_oblique;
    letter-spacing: 7px;
   }

    /*Carousel */
   